@font-face {
  font-family: 'BebasNeue';
  src: url('../fonts/BebasNeue Regular.eot');
  src: local('☺'), url('../fonts/BebasNeue Regular.woff') format('woff'),
    url('../fonts/BebasNeue Regular.ttf') format('truetype'),
    url('../fonts/BebasNeue Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('../fonts/HelveticaNeueCyr-Thin.eot');
  src: local('☺'), url('../fonts/HelveticaNeueCyr-Thin.woff') format('woff'),
    url('../fonts/HelveticaNeueCyr-Thin.ttf') format('truetype'),
    url('../fonts/HelveticaNeueCyr-Thin.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "HelveticaNeueCyr";
  background-color: #101010;
  position: relative;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.background-picture {
  width: 640px;
  height: 400px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  background: url("../img/body_background_image.png") no-repeat center;
}
header {
  height: 422px;
  padding-top: 20px;
  background: url("../img/head_background.png") no-repeat center 20px;
}
@media (max-width: 471px) {
  header {
    background-position: bottom;
  }
}
header .head-title {
  float: left;
}
header .head-title,
header nav {
  margin-top: 33px;
}
header nav {
  float: right;
  text-align: center;
}
@media (max-width: 471px) {
  header {
    height: auto;
    padding-top: 0;
  }
  header .head-title,
  header nav {
    float: none;
    margin-top: 0;
  }
}
@media (min-width: 751px) {
  header {
    width: 751px;
    margin: 0 auto;
  }
}
@media (min-width: 1030px) {
  header {
    width: 960px;
    margin: 0 auto;
  }
}
@media (min-width: 1220px) {
  header {
    width: 1140px;
    margin: 0 auto;
  }
}
header p,
header h1 {
  font-family: "BebasNeue";
  color: white;
  line-height: 1;
  margin-bottom: 0;
  margin-top: 0;
}
header h1.title {
  font-size: 100px;
}
header p.year,
header p.country,
header p.age-rating {
  font-size: 40px;
  margin-bottom: 10px;
}
header p.age-rating {
  color: #e71e6e;
}
header nav .logo img {
  margin-bottom: 10px;
}
header nav .logo p {
  font-size: 40px;
  color: #e71e6e;
  margin-bottom: 30px;
}
@media (max-width: 471px) {
  header nav .logo p {
    margin-bottom: 0;
  }
}
header nav ul {
  padding-left: 0;
}
header nav li {
  list-style-type: none;
  background-color: #e71e6e;
  width: 165px;
  height: 25px;
  margin-bottom: 4px;
}
@media (max-width: 471px) {
  header nav ul {
    margin-bottom: 0;
  }
}
@media (max-width: 471px) {
  header nav li {
    display: inline-block;
    width: 24%;
    min-width: 100px;
  }
}
header nav a {
  color: white;
  font-size: 20px;
}
header nav a:hover,
header nav a:focus {
  color: black;
  text-decoration: none;
}
.container {
  width: 751px;
}
@media (max-width: 751px) {
  .container {
    width: 100%;
  }
}
.content {
  background-color: #f5f5f5;
}
.description .poster {
    float: left;
    margin-right: 30px;
  }
.description .main p {
  font-size: 18px;
  line-height: 1.2;
  padding: 20px 95px 0 30px;
}
@media (max-width: 751px) {
  .description .main p {
    padding-right: 30px;
  }
}
.description .poster {
  max-height: 241px;
}
.description .main p,
.description .rating p {
  font-size: 18px;
  line-height: 1.2;
}
.description .rating {
  padding: 26px 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  clear: both;
}
.description .rating p {
  margin: 0;
}
.description .rating .title p {
  font-size: 24px;
  width: 165px;
  text-align: center;
  margin: 0;
}
.description .rating .rating-count {
  margin: 10px 0 10px 30px;
  width: 165px;
  position: relative;
  padding: 2px;
}
.description .rating-count p {
  position: relative;
  z-index: 1;
}
.description .rating-count .rating-progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
.description .rating-positive .rating-progress-bar {
  background-color: #b7ffb1;
}
.description .rating-neutral .rating-progress-bar {
  background-color: #d7d7d7;
}
.description .rating-negative .rating-progress-bar {
  background-color: #ffb1b1;
}
.slider {
  position: relative;
  padding: 70px 0;
}
.slider li {
  display: flex;
  justify-content: center;
}
.slider .slide {
  width: 165px;
  height: 185px;
  margin: 0 15px;
}
.slide .overlay {
  width: 100%;
  height: 100%;
  background: rgba(86,58,58,.5);
  text-align: center;
  padding: 65px 0 0 0;
  opacity: 0;
  -webkit-transition: opacity .25s ease;
     -moz-transition: opacity .25s ease;
       -o-transition: opacity .25s ease;
          transition: opacity .25s ease;
}
.slide:hover .overlay {
  opacity:1;
  cursor: pointer;
}
.slider .slide-1 {
  background: url("../img/slider-1.png") no-repeat 60%;
}
.slider .slide-2 {
  background: url("../img/slider-2.png") no-repeat 38%;
}
.my-slider .slide-3 {
  background: url("../img/slider-3.png") no-repeat 44%;
}
.unslider-arrow {
  display: block;
  width: 35px;
  height: 35px;
  top: 50%;
  margin-top: -16px;
  overflow: hidden;
  text-indent: -999em;
  -webkit-transition: opacity .2s;
     -moz-transition: opacity .2s;
       -o-transition: opacity .2s;
          transition: opacity .2s;
}
.unslider-arrow:hover {
  opacity: 0.4;
}
.unslider-arrow.prev {
  left: 34px;
  background-image: url("../img/prev.png");
}
.unslider-arrow.next {
  right: 34px;
  background-image: url("../img/next.png");
}
footer {
  padding: 23px 0 15px;
  text-align: right;
}
footer a,
footer span {
  margin-left: 17px;
  margin-bottom: 0;
  color: #9f9f9f;
}
footer span {
  white-space: nowrap;
}
footer a:hover,
footer a:focus {
  text-decoration: none;
  color: #e71e6e;
}
.modal {
    display: none;
    position: fixed;
    z-index: 3;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}
@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}
@media (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}